<!--The content below is only a placeholder and can be replaced.-->




  <div class="row" *ngFor="let fruit of fruits;index  as count" width="300px">
   
      <div class="col-md-1" [ngStyle]="fruit.style" >
        {{fruit.name}}
        
           
           
      </div>
      <div class="col-md-1" [ngStyle]="fruit.style">
          <button [disabled]="count==0" (click)="clickUp(count)" style='color:black'>Up</button>
      </div>
      <div class="col-md-1"  [ngStyle]="fruit.style">
          <button [disabled]="count==size" (click)="clickDown(count)" style='color:black'> Down</button>
      </div>
      
      
   
  </div>

